@model EmployeeManagement.Entities.GradeMaster

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GradeMaster</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GradeCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GradeCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Designation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Designation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinSalary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxSalary)
        </dd>
        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.GradeCode">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
