@model IEnumerable< EmployeeManagement.Entities.Department>

@{
    ViewData["Title"] = "Index";
}

<h1>Department</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
 <button type="button" class="btn btn-info">@Html.ActionLink("home","HomeEmployee","Home","AuthenticateMVC")</button>
        <button type="button" class="btn btn-info">@Html.ActionLink("Logout","Login","AuthenticateMVC")</button>
<table class="table table-dark table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DeptId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeptName)
            </th>
          
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DeptId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeptName)
            </td>
            <td>
               <a asp-action="Edit" asp-route-id="@item.DeptId">Edit</a> |
               
            </td>
           <div>
    <a asp-action="Index">Back to List</a>
           </div>

        </tr>
}
    </tbody>
</table>
